# Gradle
.gradle/
build/
*/build/

# Local config
local.properties

# IntelliJ / Android Studio
.idea/
*.iml

# macOS
.DS_Store

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# Vim swap files
*.swp
*.swo
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
